.header {
  position: relative;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
  .container {
    @include margin(auto);
    @include padding($size-03);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: flex;
      .nav-item {
        @include margin(0 $size-09);
        font-size: $size-09;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color-2;
        }
      }
    }
    .sign-nav {
      display: flex;
      align-items: center;
      .button {
        border-radius: $size-05;
        font-size: $size-09;
        @include margin(0 $size-05);
        &:nth-child(1) {
          color: $color-4;
          font-weight: bold;
          &:hover {
            background-color: $color-4;
            color: $white-color;
          }
        }
        &:nth-child(2) {
          background-color: $color-2;
          color: $white-color;
          &:hover {
            background-color: $white-color;
            border: 1px solid $color-2;
            color: $color-2;
          }
        }
      }
    }
  }
}
.header.fixed {
  position: fixed;
  background-color: $white-color;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}
.footer {
  width: 100%;
  background-color: $grey-color-3;
  .container {
    width: 90%;
    margin: auto;
    .top,
    .bottom {
      width: 100%;
    }
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include padding(2em 0);
      .left {
        img {
          width: 200px;
          height: 80px;
        }
        .t-3 {
          color: $color-4;
          font-size: $size-07;
        }
      }
      .center {
        display: flex;
        flex-direction: column;
        .t-2 {
          color: $gold-color;
          font-weight: bold;
        }
        .link {
          color: $color-4;
          margin-bottom: 0.5em;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $grey-color-2;
          }
        }
      }
      .socials-network {
        display: flex;
        flex-direction: row;
        .link {
          color: $white-color;
          margin-right: 0.9em;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          transition: all 0.3s ease-in-out;
          .icon {
            height: 40px;
            width: 40px;
            background-color: $color-4;
            border-radius: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5em;
          }
          .social {
            color: $color-4;
            font-size: $size-07;
          }
          &:hover {
            .icon {
              color: $grey-color-2;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        .t-2 {
          color: $gold-color;
          font-weight: bold;
        }
        .t-3 {
          display: flex;
          align-items: center;
          color: $color-4;
          .icon {
            margin-right: 0.5em;
            font-size: 2em;
          }
        }
      }
    }
    .bottom {
      border-top: 1px solid $color-4;
      display: flex;
      justify-content: space-between;
      @include padding(1.5em 0);
      .left {
        span {
          color: $color-4;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          margin-right: 0.5em;
        }
        .link {
          color: $gold-color;
          font-weight: bold;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $color-3;
          }
        }
      }
      .right {
        .link {
          color: $white-color;
          margin-left: 1em;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $grey-color-1;
          }
        }
      }
    }
  }
}

.msg-box{
  width: 100%;
  @include margin($size-09 0);
  .onSuccess,
  .onFailed{
    width: 100%;
    border-radius: $size-03;
    color: $white-color;
    font-weight: bold;
    text-align: center;
    @include padding($size-07 $size-05);
  }
  .onSuccess{
    border: 1px solid $green-color;
    background-color: rgba($color: $green-color, $alpha: 0.5);
  }
  .onFailed{
    border: 1px solid $red-color;
    background-color: rgba($color: $red-color, $alpha: 0.5);
  }
}

.not-found {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .link {
    position: absolute;
    z-index: 1;
    left: 5em;
    top: 5em;
    background-color: $color-1;
    padding: 1em 1.5em;
    color: $white-color;
    border-radius: 0.4em;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
      color: $color-1;
    }
  }

  .img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 688px) {
  .header {
    height: auto;
    .container {
      flex-wrap: wrap;
      .nav {
        display: none;
        width: 100%;
        @include padding($size-105 0);
      }
      .sign-nav {
        display: none;
        width: 100%;
        @include padding($size-105 0);
      }
    }
  }
  .footer {
    width: 100%;
    background-color: $color-1;
    .container {
      width: 90%;
      margin: auto;
      .top,
      .bottom {
        width: 100%;
      }
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        @include padding(2em 0);
        .left {
          width: 100%;
          text-align: center;
          img {
            width: 320px;
            height: 80px;
          }
          .t-3 {
            color: $white-color;
            font-size: $size-07;
          }
        }
        .center {
          width: 48%;
          display: flex;
          flex-direction: column;
          @include padding($size-3 0);
          .t-2 {
            color: $gold-color;
            font-weight: bold;
          }
          .link {
            color: $white-color;
            margin-bottom: 0.5em;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $grey-color-2;
            }
          }
        }
        .right {
          width: 48%;
          display: flex;
          flex-direction: column;
          @include padding($size-3 0);
          .t-2 {
            color: $gold-color;
            font-weight: bold;
          }
          .t-3 {
            display: flex;
            align-items: center;
            color: $white-color;
            .icon {
              margin-right: 0.5em;
              font-size: 2em;
            }
          }
        }
        .socials-network {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: row;
          .link {
            margin-right: 0.9em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.3s ease-in-out;
            .icon {
              height: 40px;
              width: 40px;
              background-color: $white-color;
              border-radius: 1em;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 0.5em;
            }
            .social {
              color: $white-color;
              font-size: $size-07;
            }

            &:nth-child(1) {
              .icon {
                color: $color-2;
              }
            }
            &:nth-child(2) {
              .icon {
                color: $color-3;
              }
            }
            &:nth-child(3) {
              .icon {
                color: $color-2;
              }
            }
            &:nth-child(4) {
              .icon {
                color: $red-color;
              }
            }

            &:hover {
              .icon {
                color: $grey-color-2;
              }
            }
          }
        }
      }
      .bottom {
        border-top: 1px solid $white-color;
        display: flex;
        justify-content: space-between;
        @include padding(1.5em 0);
        .left {
          span {
            color: $white-color;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
              serif;
            margin-right: 0.5em;
          }
          .link {
            color: $gold-color;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $color-3;
            }
          }
        }
        .right {
          .link {
            color: $white-color;
            margin-left: 1em;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $grey-color-1;
            }
          }
        }
      }
    }
  }
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .link {
      position: relative;
      left: unset;
      top: unset;
      width: 50%;
      text-align: center;
    }

    .img {
      width: 100%;
      height: 50%;
      position: relative;
    }
  }
}

@media only screen and (max-width: 1312px) {
}
